In [38]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time
import requests
from pymongo import MongoClient

In [39]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\kevin\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [40]:
#NEWS...NEWS.NEWS

In [41]:
#Visit Site
url_news= "https://redplanetscience.com/"
browser.visit(url_news)

In [42]:
# Identify and Parse 
html_news= browser.html
soup= bs(html_news,"html.parser")

In [43]:
# Scrape the latest News
news_title=soup.find("div",class_="content_title").text
news_paragraph=soup.find("div", class_="article_teaser_body").text

In [44]:
# Print the Latest News
print("Red Planet News From Mars")
print(news_title)
print(news_paragraph)

Red Planet News From Mars
Space History Is Made in This NASA Robot Factory
From rockets to rovers, JPL's Spacecraft Assembly Facility has been at the center of robotic spaceflight. Here's a closer look at what makes it so special.

In [45]:
#featured photo

In [46]:
# Find the featured the image from Mars
url='https://spaceimages-mars.com/'
browser.visit(url)

In [47]:
#Click for full image
browser.links.find_by_partial_text('FULL IMAGE').click()

In [48]:
#Search for Image Source
html = browser.html
soup=bs(html,'html.parser')
img_url=soup.find('img', class_='fancybox-image')['src']

In [49]:
#Create Featured URL link per homework assignment
featured_image_url= url+ img_url
featured_image_url

'https://spaceimages-mars.com/image/featured/mars2.jpg'

In [50]:
url_info = "https://galaxyfacts-mars.com/"
browser.visit(url_info)

In [51]:
#Read the data from the site
mars_info=pd.read_html(url_info)
mars_info

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [52]:
#Create the DataFrame
info_df=mars_info[0]

In [53]:
#Create the Data Step #2
info_df.columns = ["Category", "Mars","Value-Earth"]

#Set index
info_df

                  Category             Mars      Value-Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [54]:
# Modify Table
mod_info_df=info_df.drop('Value-Earth', axis=1)
mod_info_df

                  Category             Mars
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km
5          Length of Year:   687 Earth days
6             Temperature:     -87 to -5 °C

In [55]:
# Clean up Table
clean_mars=mod_info_df.drop(0)
clean_mars

             Category             Mars
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [56]:
#Save table to html
html_table=clean_mars.to_html()

In [57]:
#Save to folder
clean_mars.to_html("Mars_facts_data.html")

In [58]:
# HEMISPHERSES #

In [59]:
#Get Url
hemisphere_url = "https://marshemispheres.com/"
browser.visit(hemisphere_url)

In [64]:
# HTML object using soup
html_hemisphere = browser.html
web_info = bs(html_hemisphere, "html.parser")

In [65]:
#Scrape, Scrape, Scrape
hemispheres = soup.find_all("div", class_="item")

In [70]:
# Create list
hemi_info = []
# Assign url 
hemispheres_url = "https://marshemispheres.com/"

In [71]:
# Loop through the list of all hemispheres
for x in hemispheres:
    title = x.find("h3").text
    hemispheres_img = x.find("a",class_="itemLink product-item")["href"]
    # Visit link  
    browser.visit(hemispheres_url + hemispheres_img)
    # Develop image url
    img_url = hemispheres_url + web_info.find("img",class_="wide-image")["src"]
    hemi_info.append({"title":title,"img_url":img_url})
    # Display titles 
    print(title)
    print(img_url)

In [68]:
# Part 2 Return scraping as dictionary
mars_dict={'news_title': news_title,
         'news_paragraph':news_paragraph,
         'featured_image_url': featured_image_url,
         'mars_info': clean_mars,
         'hemisphere_image_urls':hemi_info}

In [69]:
#insert into Mongo DB
client=MongoClient('localhost',27017)
db=client['mars_dict']

In [ ]:
browser.quit()