In [42]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time
import requests
import pymongo

In [43]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\kevin\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [44]:
#NEWS...NEWS.NEWS

In [45]:
#Visit Site
url_news= "https://redplanetscience.com/"
browser.visit(url_news)

In [46]:
# Identify and Parse 
html_news= browser.html
soup= bs(html_news,"html.parser")

In [47]:
# Scrape the latest News
news_title=soup.find("div",class_="content_title").text
news_paragraph=soup.find("div", class_="article_teaser_body").text

In [48]:
# Print the Latest News
print("Red Planet News From Mars")
print(news_title)
print(news_paragraph)

Red Planet News From Mars
NASA's Curiosity Takes Selfie With 'Mary Anning' on the Red Planet
The Mars rover has drilled three samples of rock in this clay-enriched region since arriving in July.

In [49]:
#featured photo

In [50]:
# Find the featured the image from Mars
url='https://spaceimages-mars.com/'
browser.visit(url)

In [51]:
#Click for full image
browser.links.find_by_partial_text('FULL IMAGE').click()

In [52]:
#Search for Image Source
html = browser.html
soup=bs(html,'html.parser')
img_url=soup.find('img', class_='fancybox-image')['src']

In [53]:
#Create Featured URL link per homework assignment
featured_image_url= url+ img_url
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [54]:
url_info = "https://galaxyfacts-mars.com/"
browser.visit(url_info)

In [55]:
#Read the data from the site
mars_info=pd.read_html(url_info)
mars_info

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [56]:
#Create the DataFrame
info_df=mars_info[0]

In [57]:
#Create the Data Step #2
info_df.columns = ["Category", "Mars","Value-Earth"]

#Set index
info_df

                  Category             Mars      Value-Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [58]:
# Modify Table
mod_info_df=info_df.drop('Value-Earth', axis=1)
mod_info_df

                  Category             Mars
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km
5          Length of Year:   687 Earth days
6             Temperature:     -87 to -5 °C

In [59]:
# Clean up Table
clean_mars=mod_info_df.drop(0)
clean_mars

             Category             Mars
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [60]:
#Save table to html
html_table=clean_mars.to_html()

In [61]:
#Save to folder
clean_mars.to_html("Mars_facts_data.html")

In [74]:
clean_mars.to_csv('mission.csv', index= False)

In [62]:
# HEMISPHERSES #

In [63]:
#Get Url
hemisphere_url = "https://marshemispheres.com/"
browser.visit(hemisphere_url)

In [64]:
# HTML object using soup
html_hemisphere = browser.html
soup= bs(html_hemisphere, "html.parser")

In [65]:
#Scrape, Scrape, Scrape
hemispheres = soup.find_all("div", class_="item")

In [66]:
# Create list
hemi_info = []
# Assign url 
hemispheres_url = "https://marshemispheres.com/"

In [67]:
# Loop through the list of all hemispheres
for x in hemispheres:
    title = x.find("h3").text
    hemispheres_img = x.find("a",class_="itemLink product-item")["href"]
    # Visit link  
    browser.visit(hemispheres_url + hemispheres_img)
    # Develop image url
    image_html=browser.html
    web_info=bs(image_html,"html.parser")
    #Complete URL
    img_url = hemispheres_url + web_info.find("img",class_="wide-image")["src"]
    hemi_info.append({"title":title,"img_url":img_url})
    # Display titles 
    print("")
    print(title)
    print(img_url)

Cerberus Hemisphere Enhanced
https://marshemispheres.com/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg

Schiaparelli Hemisphere Enhanced
https://marshemispheres.com/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg

Syrtis Major Hemisphere Enhanced
https://marshemispheres.com/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg

Valles Marineris Hemisphere Enhanced
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg

In [71]:
# Part 2 Return scraping as dictionary
mars_dict=[{'news_title': news_title,
         'news_paragraph':news_paragraph,
         'featured_image_url': featured_image_url,
         'mars_info': clean_mars,
         'hemisphere_image_urls':hemi_info}]

InvalidDocument: cannot encode object:              Category             Mars
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C, of type: <class 'pandas.core.frame.DataFrame'>