In [98]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
import time
import requests

In [99]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\kevin\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [100]:
#NEWS...NEWS.NEWS

In [101]:
#Visit Site
url_news= "https://redplanetscience.com/"
browser.visit(url_news)

In [102]:
# Identify and Parse 
html_news= browser.html
soup= bs(html_news,"html.parser")

In [103]:
# Scrape the latest News
news_title=soup.find("div",class_="content_title").text
news_paragraph=soup.find("div", class_="article_teaser_body").text

In [104]:
# Print the Latest News
print("Red Planet News From Mars")
print(news_title)
print(news_paragraph)

Red Planet News From Mars
NASA's Perseverance Rover Will Peer Beneath Mars' Surface
The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life.

In [105]:
#featured photo

In [106]:
# Find the featured the image from Mars
url='https://spaceimages-mars.com/'
browser.visit(url)

In [107]:
#Click for full image
browser.links.find_by_partial_text('FULL IMAGE').click()

In [115]:
#Search for Image Source
html = browser.html
soup=bs(html,'html.parser')
img_url=soup.find('img', class_='fancybox-image')['src']

In [116]:
featured_image_url= url+ img_url
featured_image_url

'https://spaceimages-mars.com/image/featured/mars1.jpg'

In [113]:
#Read the data from the site
mars_info=pd.read_html(url_info)
mars_info

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [114]:
#Create the DataFrame
info_df=mars_info[0]

In [27]:
#Create the Data Step #2
info_df.columns = ["Category", "Mars","Value-Earth"]

#Set index
info_df

                  Category             Mars      Value-Earth
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [28]:
# Modify Table
mod_info_df=info_df.drop('Value-Earth', axis=1)
mod_info_df

                  Category             Mars
0  Mars - Earth Comparison             Mars
1                Diameter:         6,779 km
2                    Mass:  6.39 × 10^23 kg
3                   Moons:                2
4       Distance from Sun:   227,943,824 km
5          Length of Year:   687 Earth days
6             Temperature:     -87 to -5 °C

In [29]:
# Clean up Table
clean_mars=mod_info_df.drop(0)
clean_mars

             Category             Mars
1           Diameter:         6,779 km
2               Mass:  6.39 × 10^23 kg
3              Moons:                2
4  Distance from Sun:   227,943,824 km
5     Length of Year:   687 Earth days
6        Temperature:     -87 to -5 °C

In [30]:
#Save table to html
html_table=clean_mars.to_html()

In [31]:
#Save to folder
clean_mars.to_html("Mars_facts_data.html")

In [32]:
# HEMISPHERSES #

In [48]:
#Get Url
hemisphere_url = "https://marshemispheres.com/"
browser.visit(hemisphere_url)

In [49]:
# HTML object using soup
html_hemisphere = browser.html
soup = bs(html_hemisphere, "html.parser")

In [96]:
#Scrape, Scrape, Scrape
hemispheres = soup.find_all("div", class_="item")

In [53]:
# Create list
hemi_info = []
# Assign url 
hemispheres_url = "https://marshemispheres.com/"

In [61]:
# Loop through the list of all hemispheres
for x in hemispheres:
    title = x.find("h3").text
    hemispheres_img = x.find("a",class_="itemLink product-item")["href"]
    # Visit link  
    browser.visit(hemispheres_url + hemispheres_img)
    # Develop image url
    img_url = hemispheres_url + web_info.find("img",class_="wide-image")["src"]
    hemi_info.append({"title":title,"img_url":img_url})
    # Display titles 
    print(title)
    print(img_url)

Cerberus Hemisphere Enhanced
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
Schiaparelli Hemisphere Enhanced
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
Syrtis Major Hemisphere Enhanced
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg
Valles Marineris Hemisphere Enhanced
https://marshemispheres.com/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg